<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 此文件是直接打开展示的 -->
<dict>
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <!-- http或者https链接的ipa文件地址 -->
     <string>https://appstore.caih.com/download/byMongoId?id=A0EBB80A184C4B5680FBDDFD9932F8AC&mongoId=5dfe037f94b56b62f2db66c8</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>full-size-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://appstore.caih.com/download/icon?iconId=18BEA270355D4E1DB08F8FBCDEEEDFF7</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://appstore.caih.com/download/icon?iconId=18BEA270355D4E1DB08F8FBCDEEEDFF7</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <!-- BundleID，就是新建app时的包名 -->
    <key>bundle-identifier</key>
    <string>com.caih.cloud.office.smartlink.gxqtmonitor.pgy</string>
    <!-- 版本号 -->
    <key>bundle-version</key>
    <string>1.1.7</string>
    <key>kind</key>
    <string>software</string>
    <!-- 安装app时的提示信息 -->
    <key>title</key>
    <string>smartlink_gxzj App install…</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
